<meta charset="UTF-8" />
<title>YOGA</title>

<!-- CSS (load bootstrap) -->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<!-- Vanilla Datepicker CSS -->
<link rel="stylesheet" href="css/datepicker.css" />
<style>
  :root {
    --primary: #000000;
    font-size: 18px;
  }

  @font-face {
    font-family: "Avenir Next Cyr Regular";
    src: url("fonts/AvenirNextCyr-Regular.eot");
    src: url("/fonts/AvenirNextCyr-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/AvenirNextCyr-Regular.woff") format("woff"),
      url("/fonts/AvenirNextCyr-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Helvetica Neue Cyr Light";
    src: url("/fonts/HelveticaNeueCyr-Light.eot");
    src: url("/fonts/HelveticaNeueCyr-Light.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/HelveticaNeueCyr-Light.woff") format("woff"),
      url("/fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  .regular1 {
    font-family: "Avenir Next Cyr Regular";
  }

  .regular2 {
    font-family: "Helvetica Neue Cyr Light";
  }

  .attempt {
    padding-top: auto;
    background: black;
  }

  .fluidPhotoHead {
    background-image: url(/images/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
  }

  .fluidPhotoAboutUs {
    background-image: url(/images/about.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
  }

  table {
    font-family: "Helvetica Neue Cyr Light";
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    margin-bottom: 50px;
  }

  /* шапка таблицы */
  table thead tr th {
    background: #ffffff;
    color: #56463c;
    padding: 0.5em;
    overflow: hidden;
    text-align: center;
    border-left: 1px solid #56463c;
    border-bottom: 1px solid #56463c;
    border-top: 1px solid #56463c;
  }
  table thead tr th:last-child {
    border-right: 1px solid #56463c;
  }

  table thead tr td {
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #56463c;
    position: relative;
    height: 35px;
    cursor: pointer;
  }

  /* Первый самый левый верхний квадрат в таблице */
  table thead tr th:first-child {
    border-radius: 5% 0 0;
  }

  /* Последний самый правый квадрат МОЖНО УДАЛИТЬ todo */
  table thead tr th:last-child {
    border-radius: 0 5% 0 0;
  }

  /* Кружок */
  table thead tr th .day {
    /* display: block; */
    font-size: 1.2em;

    width: 40px;
    height: 40px;
    margin: 0 auto 5px;
    padding: 5px;
    line-height: 1.8;
    text-align: center;
  }

  /* кружок */
  table thead tr th .day.active {
    /* border-radius: 25% 10%; */
    border-radius: 25% / 50%;
    padding: 5%;
    padding-left: 6%;
    padding-right: 6%;
    background: #56463c;
    color: #ffffff;
  }

  table thead tr th .active1 {
    background: red;
  }

  table thead tr th .short {
    display: none;
    text-align: center;
  }

  table thead tr th i {
    vertical-align: middle;
    font-size: 2em;
  }

  table tbody tr {
    background: #ffffff;
  }

  /* нечётные строки  */
  table tbody tr:nth-child(odd) {
    background: #f2f2f2;
  }

  /* линия:  горизонталь, разделители по часам  */
  table tbody tr:nth-child(4n + 0) td {
    border-bottom: 1px solid #56463c;
    /* border-bottom: 1px solid #f6f6f6; */
  }

  /* линия: вертикаль, разделители по часам кроме самой правой  */
  table tbody tr td {
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #56463c;
    position: relative;
    height: 35px;
    cursor: pointer;
  }

  /* линия: вертикаль, самая правая */
  table tbody tr td:last-child {
    border-right: 1px solid #56463c;
  }

  /* ВРЕМЯ */
  table tbody tr td.hour {
    font-size: 2em;
    padding: 0;
    color: #56463c;
    background: #fff;
    border-bottom: 1px solid green; /* линия: горизонталь, между часами */
    border-collapse: separate;
    min-width: 100px;
    cursor: default;
  }

  table tbody tr td.hour span {
    display: block;
  }

  .yogaMountain {
    font-size: 8rem;
    padding-top: 0.3em;
  }

  table tbody tr td {
    padding: 0;
    margin: 0;
  }

  /* цвета тени #32a1ce*/
  table tbody tr td div {
    background-color: white;
    border-left: solid #32a1ce;
    height: 100%;
    box-shadow: 44px 0px 30px -30px #32a1ce;
  }

  table tbody tr td div.zero {
    border-radius: 10%/20% 20% 0 0;
    box-shadow: 2px 0px 6px 0px #32a1ce;
    margin-bottom: -5px;
  }

  table tbody tr td div.any {
    box-shadow: 44px 0px 30px -30px #32a1ce;
  }

  table tbody tr td div.five {
    border-radius: 10%/0 0 20% 20%;
    box-shadow: 2px 13px 18px -7px #32a1ce;
  }

  @media (max-width: 60em) {
    .yogaMountain {
      font-size: 6rem;
    }

    table thead tr th .long {
      display: none;
    }

    table thead tr th .short {
      display: block;
    }

    table tbody tr td.hour span {
      transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
    }
  }

  @media (max-width: 27em) {
    .yogaMountain {
      font-size: 4rem;
      padding-left: 1rem;
    }

    table thead tr th {
      font-size: 65%;
    }

    table thead tr th .day {
      display: block;
      font-size: 1.2em;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin: 0 auto 5px;
      padding: 5px;
    }

    table thead tr th .day.active {
      background: #ffffff;
      color: #56463c;
    }

    table tbody tr td.hour {
      font-size: 1.7em;
    }

    table tbody tr td.hour span {
      transform: translateY(16px) rotate(270deg);
      -webkit-transform: translateY(16px) rotate(270deg);
      -moz-transform: translateY(16px) rotate(270deg);
    }
  }

  [data-mdb-toggle="modal"] i {
    pointer-events: none !important;
  }
</style>

<script src="./js/axios.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="./js/imask.js"></script>
<!-- Vanilla Datepicker JS -->
<script src="./js/vanilla-date.js"></script>
