[webapp]
${webapp_vm_ip_public} webapp_ip_public=${webapp_vm_ip_public}

[database]
${database_vm_ip_public} private_database_ip=${database_vm_ip_nat}

[webapp:vars]
private_database_ip=${database_vm_ip_nat}

[secret_vars:children]
webapp
database