<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container d-flex align-items-center justify-content-center" 

            style="background-color: #faf8f6;">
  <main>
    <div class="p-5 rounded" style="background-color: #ffffff;" >
      <nav class="row">
        <a class="nav-link active col-1" aria-current="page" href="/">
          Главная
        </a>
      </nav>
      <h1>Панель администратора</h1>
      <!-- <form class="col-12" action="http://localhost:3000/auth" method="POST"> -->
        <!-- http://<%= FLOATING_IP_UI %>:3000/ -->
      <form class="col-12" action="/auth" method="POST">
        <div class="mb-3">
          <label for="admin_phone" class="form-label">Логин</label>
          <input type="text" name="login" class="form-control" id="admin_phone">
          
        </div>
        <div class="mb-3">
          <label for="admin_password" class="form-label">Пароль</label>
          <input type="password" name="password" class="form-control" id="admin_password">
          <div id="admin_help" class="form-text">дата рождения кота Леопольда</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </main>
</body>
</html>